parameters:

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter
	- App\Model\RFID
	- App\Model\Osoba
	- App\Model\Citacka
	- App\Model\Dochadzka
	- App\Model\Uzivatel
	- App\Model\Organizacia
	authenticator: MyAuthenticator

database:
	dsn: 'mysql:host=46.229.230.86;dbname=hz024701db'
	user: hz024700
	password: dhynydor

extensions:
	translation: Kdyby\Translation\DI\TranslationExtension

translation:
	whitelist: [sk, en]