home: Domov
citacky: Čítačky
rfid: RFID
osoby: Osoby
dochadzka: Dochádzka
sign_out: Odhlásiť
sign_in: Prihlásiť
register: Registrovať
citacka:
    prehlad: "Prehľad"
    pridaj: "Pridaj čítačku"
section_rfid:
    prehlad: "Prehľad"
    add: "Pridaj RFID"
    all: "Všetky"
    len_nepriradene: "Len nepriradené"
    len_priradene: "Len priradené"
section_osoby:
    prehlad: "Prehľad"
    pridaj: "Pridaj osobu"
section_dochadzka:
    current: "Aktualne"
    prehlad: "Prehľad"
    settings: "Nastavenia"
    nepriradene: "Nepriradené"
    edituj: "Edituj"
section_uzivatel:
    vase_udaje: "Vaše údaje"
    organizacia: "Organizácia"
    zmena_hesla: "Zmena hesla"