welcome: "Welcome in MPAS!"
intro: "Last entries ..."
id_zaznam: "record ID"
id_reader: "reader ID"
name_reader: "reader Name"
id_rfid: "RFID number"
timestamp: "record time"
spracovane: "proceeded"
management_citaciek: "Readers management"
action: "action..."
pridaj_citacku: "Add new reader"
reader: "Reader"
fill_reader_id: "Fill reader ID"
fill_reader_name: "Fill reader name"
fill_rfid_id: "Fill RFID ID"
reader_deactivate: "Reader deactivation"
reader_deactivation_confirmation: "Are you sure to deactivate this reader?"
reader_edit: "Reader edit"
rfid_management: "RFID management"
add_rfid: "Add new RFID"
manual_add_rfid: "Manually add new RFID"
auto_add_rfid: "Automatic load RFID number from reader"
auto_add_rfid_explain: "Choose reader from your new RFID will be scanned. After you scan RFID from this reader, press button Refresh. RFID number will appear on the screen. Than you can add this RFID to your app."
scan_from_reader: "Scan your new RFID on reader..."
scan_time: "Scan time from"
than_press_refresh: "Than press button Refresh to show your RFID in app"
assigned_person: "Assigned person"
not_assigned: "Not assigned"
add_to_app: "Add o app"
prirad_osobu_k_rfid: "Choose person for RFID"
editovat_rfid: "Edit RFID"
deactivate_rfid: "Deactivate RFID"
really_deactivate_rfid: "Are you sure to deactivate RFID number"
assigned_rfid: "This RFID is attached to person"
for_deactivation_rfid_need_to_cancel_assigment_of_person: "For RFID deactivation you must to delete its attachment to person."
osoby_management: "Persons management"
pridat_osobu: "Add new person"
editacia_osoby: "Person edit"
deactivate_person: "Deactivate this person"
person_deactivation: "Person deactivation"
really_deactivate_this_person: "Really deactivate this person"
this_person_has_assigned_rfid: "This person has assigned RFID(s)"
for_person_deactivation_needs_be_rfid_cleaned: "For deactivation of this person you must cancel assigned RFID(s)"
login: "Login page"
registration: "New user registration"
dochadzka: "Attendance"
people_at_work: "Persons at work..."
name: "Name"
prichod: "Arrival"
odchod: "Departure"
date: "Deň"
time_at_work: "Time at work"
none_definition_attendance: "There is none definition of attendace in system"
celkovy_cas: "Total time"
hod: "hrs"
minut: "min"
definovanie_obrazovky_citacky: "Reader screen settings"
user_management: "Your account"
nastavenie_prac_doby: "Duty time schedule"
nastavenie_prehladov: "Listing set up"
smena1: "1st shift"
smena2: "2nd shift"
smena3: "3rd shift"
nedefinovane: "NO DEFINITION"
Mon: "Mon"
Tue: "Tue"
Wed: "Wed"
Thu: "Thu"
Fri: "Fri"
Sat: "Sat"
Sun: "Sun"
skuska_text: "You can test our application by signing in. Login email: test@test.com  password: Testing123"
poznamka: "Note"
form:
    yes: "Yes"
    no: "No"
    save: "Save"
    deactivate: "Deactivate"
    edit: "Edit"
    choose_reader: "Choose reader..."
    continue: "Continue"
    refresh: "Refresh"
    refresh_again: "Refresh again"
    change: "Change"
    assign: "Assign..."
    name: "Name"
    organization: "Organization name"
    email: "E-mail"
    passwd: "Password"
    passwd2: "Password again"
    login: "Login"
    register: "Register"
    from: "From:"
    to: "Until:"
    choose_person: "Choose person(s):"
    show: "Show"
    items_array_none: "None (seconds)"
    items_array_minutes: "Minutes"
    items_array_15minutes: "15 minutes"
    items_array_30minutes: "30 minutes"
    items_array_1hour: "hours"
    zaokruhlovanie: "Rounding"
    late_arrival: "Late arrival tolerance"
    late_arrival_explanation: "Setting up late arrival tolerance, e.g. when arrival will be 07:01 and tolerance will be 2 minutes and rounding is set up 15min, then arrival will be counted as 07:00 and NOT 07:15"
    late_arrival_integer: "Late arrival must be number"
    late_arrival_range: "Must be in range 0 - 10"
    real_times: "Output also real times in listing"
    prac_doba: "Working time schema"
    standard: "Standard"
    shifts: "2 shifts"
    all_day: "3 shifts"
    choose_1_person: "Choose one person"
    time_explanation: "Format time: hh:mm"
    allowed_time_schedule: "Time schedule is allowed"
message:
    change_success: "Change has been successfull"
    change_fail: "Change has NOT been successfull"
    add_reader: "Reader has been successfully added"
    choose_one_reader: "To continue you must select at least one reader"
    required_name: "Enter name"
    fill_email: "Enter valid email address"
    fill_passwd: "Enter your password"
    fill_organization: "Enter organization name"
    fill_name: "Enter name"
    wrong_passwd: "Not correct login email or password"
    success_logout: "Logout has been successfull"
    wrong_email: "Not valid e-mail address"
    passwd_length: "Minimum %letters% letters"
    passwd_min_length: "Password must be minimum %letters% letters"
    required: " * "
    passwd_must_be_equal: "Passwords must be equal"
    successfull_registration: "Registration has been successfull"
    NOTsuccessfull_registration: "Registration WAS NOT successfull"
    used_email: "This Email is already taken"
    enter_begin_date: "Enter starting date"
    enter_end_date: "Enter ending date"
    choose_least_1_person: "Choose at least one person"
self_check: "SelfCheck"
header_ability_to_selfcheck: "Ability to self check attendance"