welcome: "Vitajte v MPAS!"
intro: "Výpis poslednych zaznamov ..."
id_zaznam: "ID záznamu"
id_reader: "ID čítačky"
name_reader: "pomenovanie čítačky"
id_rfid: "číslo RFID"
timestamp: "čas záznamu"
spracovane: "Spracované"
management_citaciek: "Manažment čítačiek"
action: "akcia..."
pridaj_citacku: "Pridať novú čítačku"
reader: "Čítačka"
fill_reader_id: "Vyplňte číslo čítačky"
fill_reader_name: "Vyplňte pomenovanie čítačky"
fill_rfid_id: "Vyplňte číslo RFID"
reader_deactivate: "Deaktivovať Čítačku"
reader_deactivation_confirmation: "Skutočne chcete deaktivovať túto čítačku?"
reader_edit: "Editovať Čítačku"
rfid_management: "RFID manažment"
add_rfid: "Pridať novú RFID"
manual_add_rfid: "Manuálne pridanie RFID"
auto_add_rfid: "Automatické načítanie RFID zo zariadenia"
auto_add_rfid_explain: "Vyberte čítačku z ktorej sa zosníma číslo RFID. Po načítani RFID čítačkou stlaťte tlačítko Obnoviť, RFID by a mala zobraziť na obrazovke. Túto potom môžete uložiť do systému."
scan_from_reader: "Načítajte RFID kľúčenku na čítačke č."
scan_time: "Čas načítania od"
than_press_refresh: "Potom stlačte tlačidlo 'Obnoviť' pre jej zobrazenie v systéme."
assigned_person: "Priradená osoba"
not_assigned: "Nepriradené"
add_to_app: "Zaraď do systému"
prirad_osobu_k_rfid: "Priraď osobu k RFID"
editovat_rfid: "Editovať RFID"
deactivate_rfid: "Deaktivuj RFID"
really_deactivate_rfid: "Skutočne chcete deaktivovať túto RFID"
assigned_rfid: "Tejto RFID je priradená osoba"
for_deactivation_rfid_need_to_cancel_assigment_of_person: "Pre deaktivovanie tejto osoby je nutné zrušiť priradenie RFID."
osoby_management: "Manažment osôb"
pridat_osobu: "Pridat novú osobu"
editacia_osoby: "Editácia osoby"
deactivate_person: "Deaktivuj túto osobu"
person_deactivation: "Deaktivácia osoby"
really_deactivate_this_person: "Skutočne chcete deaktivovať túto osobu"
this_person_has_assigned_rfid: "Tejto osobe sú priradené nasledovné rfid"
for_person_deactivation_needs_be_rfid_cleaned: "Pre deaktivovanie tejto osoby je nutné zrušiť priradené RFID"
login: "Prihlásenie"
registration: "Registrácia nového užívateľa"
dochadzka: "Dochádzka"
people_at_work: "Ľudia v práci..."
name: "Meno"
prichod: "Príchod"
odchod: "Odchod"
date: "Dátum"
time_at_work: "Čas v práci"
none_definition_attendance: "Žiadna definovaná dochádzka v systéme"
celkovy_cas: "Celkový čas"
hodin: "hod"
minut: "min"
definovanie_obrazovky_citacky: "Definovanie obrazovky čítačky"
user_management: "Váš účet"
nastavenie_prac_doby: "Rozvrhnutie pracovného času"
nastavenie_prehladov: "Nastavenie výpisov"
smena1: "1. smena"
smena2: "2. smena"
smena3: "3. smena"
nedefinovane: "NEDEFINOVANÉ"
Mon: "Pon"
Tue: "Ut"
Wed: "Str"
Thu: "Štv"
Fri: "Pi"
Sat: "So"
Sun: "Ne"
skuska_text: "Môžete vyskúšať našu aplikáciu prihlásením sa. Login email: test@test.com  password: Testing123"
form:
    yes: "Áno"
    no: "Nie"
    save: "Uložiť"
    deactivate: "Deaktivuj"
    edit: "Edituj"
    choose_reader: "Zvoľte čítačku..."
    continue: "Pokračovať"
    refresh: "Obnov"
    refresh_again: "Obnov znovu"
    change: "Zmeň"
    assign: "Priraď..."
    name: "Meno"
    organization: "Názov organizácie"
    email: "E-mail"
    passwd: "Heslo"
    passwd2: "Heslo znovu"
    login: "Prihlásiť"
    register: "Registrovať"
    from: "Od:"
    to: "Do:"
    choose_person: "Vyber osobu(y):"
    show: "Zobraz"
    items_array_none: "Žiadne (sekundy)"
    items_array_minutes: "Minúty"
    items_array_15minutes: "15 minút"
    items_array_30minutes: "30 minút"
    items_array_1hour: "hodiny"
    zaokruhlovanie: "Zaokrúhľovanie"
    late_arrival: "Tolerancia neskorého príchodu"
    late_arrival_explanation: "Nastavenie tolerancie oneskoreného príchodu, napr. príchod 07:01 pri zaokruhľovaní 15 minút započíta ako príchod 07:00"
    late_arrival_integer: "Musí byť celé číslo"
    late_arrival_range: "Musí byť v rozmedzí 0 - 10"
    real_times: "Vypisovať aj reálne časy vo výpisoch"
    prac_doba: "Pracovná doba"
    standard: "Štandartná"
    shifts: "2 smenná prevádzka"
    all_day: "3 smenná prevádzka"
    choose_1_person: "Zvoľte jedno meno"
    time_explanation: "Formát času hh:mm"
message:
    change_success: "Zmena bola úspešne vykonaná"
    change_fail: "Zmena NEBOLA úspešná"
    add_reader: "Pridanie Čítačky sa podarilo"
    choose_one_reader: "Pre pokračovanie musíte zvoliť aspoň jednu čítačku"
    required_name: "Vyplňte meno"
    fill_email: "Prosím vyplňte svoj prihlasovaci email"
    fill_passwd: "Vyplňte Vaše prihlasovacie heslo"
    fill_organization: "Vyplňte názov organizácie"
    fill_name: "Vyplňte Vaše meno"
    wrong_passwd: "Nesprávne prihlasovacie meno alebo heslo"
    success_logout: "Odhlásenie bolo úspěšné"
    wrong_email: "Neplatná emailová adresa"
    passwd_length: "Aspoň %letters% znakov"
    passwd_min_length: "Heslo musí mať aspoň %letters% znakov"
    required: " * "
    passwd_must_be_equal: "Hesla sa nezhodujú"
    successfull_registration: "Registrácia prebehla úspešne"
    NOTsuccessfull_registration: "Registration NEBOLA úspešná"
    used_email: "Tento Email sa už používa"
    enter_begin_date: "Zadajte dátum začiatku"
    enter_end_date: "Zadajte dátum konca"
    choose_least_1_person: "Zvoľte aspoň jedno meno"